<div class="Footer row">
  <div class="col-md-2">
    <a href="#">
      <i class="fas fa-rss"></i>
    </a>
    <a href="mailto:info@oparysh.by">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://vk.com/club126284612">
      <i class="fab fa-vk"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>
  <div class="col-md-8">
    <p>БелАгроБиоТехнологии ©2018</p>
  </div>
  <div class="col-md-2"></div>
</div>
