<div class="Header row">
  <a href="/"><img src="/images/logo.png"></a>
</div>
<div class="Nav_bar row">
  <div class="col-md-1 "></div>
  <a href="/company" class="col-md-2 ">О компании</a>
  <a href="/cooperation" class="col-md-2 ">Cотрудничество</a>


  <div class="col-md-2" id="catalog">
    <a href="#">Каталог</a>
    <div class="drop_h">
      <% for(let i=0;i<categories.length;i++){ %>

        <a href=<%=( "/catalog/" + categories[i].link) %> ><%= categories[i].name %></a>
        <% } %>

    </div>
  </div>




  <a href="/contacts" class="col-md-2 ">Контакты</a>
  <a href="/buy" class="col-md-2 ">Где купить</a>
  <div class="col-md-1"></div>
</div>
