<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- Bootstrap end -->

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Наживки, купить наживку для рыбалки оптом Минск </title>
</head>

<body>


  <div class="wrap">
    <div class="container-fluid">
    <% include partials/header %>
      <div class="M_nav_bar row">
        <input type="checkbox" name="toggle" id="m_btn" class="Toggle_m">
        <label for="m_btn">
          <i class="fas fa-bars"></i>
        </label>
      </div>

      <div class="row Content">
        <div class="col-md-1"></div>
        <div class="col-md-10 container">
          <p class="h1 text-center">Уважаемые партнеры!</p>
          <p class="h5" style="padding-top:10px">Мы рады сотрудничеству и стремимся сделать его долгим и взаимовыгодным! Со всеми поставщиками мы работаем напрямую, без посредников, что позволяет нам предложить самые выгодные цены на рыболовную продукцию. ООО «БелАгроБиоТехнологии» имеет всю
            необходимую разрешительную документацию, что подтверждает качество производимой продукции Нам нравится создавать полезное и делать это лучшим образом.
          </p>
          <p class="h3 text-center" style="padding-top:10px">Чтобы обсудить вопросы сотрудничества ,свяжитесь с нами удобным для Вас способом : </p>
          <p class="h3 form_ref text-center"><a href="/buy">Заполнив форму обратной связи</a></p>
          <p class="h1 text-center">или</p>
          <p class="h3 form_ref text-center"><a href="/contacts">Свяжитесь с нами напрямую</a></p>
          <p class="text-center h3" style="padding-top:30px">Возможно, продукция DJO fish и не изменит этот мир, но точно изменит чей-то бизнес.</p>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
        <% include partials/footer %>
  </div>
  <script type="text/javascript" src="/js/scripts.js"></script>
</body>

</html>
