<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>shit</title>
</head>

<body>
  <div class="row">

    <div class="col-md-2 sidebar">
      some stuff
    </div>

    <div class="col-md-10 main+navbar">
      <div class="row navb cool-md-12">
        shit
      </div>
      <div class="row content">
        <div class="col-md-3">
          shit 1
        </div>
        <div class="col-md-3">
          shit 2
        </div>
        <div class="col-md-3">
          shit 3
        </div>
        <div class="col-md-3">
          shit 1
        </div>
      </div>
    </div>

  </div>
</body>

</html>
